[submodule "vartex"]
	path = vartex
	url = https://github.com/ArweaveTeam/vartex.git
[submodule "arweave-js"]
	path = arweave-js
	url = https://github.com/ArweaveTeam/arweave-js.git
[submodule "cardano-node"]
	path = cardano-node
	url = https://github.com/input-output-hk/cardano-node.git
[submodule "machinaris"]
	path = machinaris
	url = https://github.com/guydavis/machinaris.git
[submodule "libp2p"]
	path = libp2p
	url = https://github.com/libp2p/libp2p.git
[submodule "seaweedfs"]
	path = seaweedfs
	url = https://github.com/chrislusf/seaweedfs.git
[submodule "proxyfs"]
	path = proxyfs
	url = https://github.com/NVIDIA/proxyfs.git
[submodule "poly-flash"]
	path = poly-flash
	url = https://github.com/yuichiroaoki/poly-flash.git